# Build output directories
build/
out/
output/
bin/
classes/
.gradle/

# IntelliJ IDEA files
*.ipr
*.iws
*.iml
.idea/

# Eclipse files
.classpath
.project
.metadata

# Visual Studio Code files
.vscode

# Local and project-specific configuration
local.properties
.settings

# Datagen cache
common/src/main/generated/.cache/

# Miscellaneous
run/
libs/
*.launch